<form action="{$presenter->link('this')}" class="form-inline" id="products-search">
    <a n:href="findProducts! 420" id="link"></a>
    <span class="input-group">
        <input type="text" class="form-control" name="barcode" autocomplete="off" placeholder="Produktový kód">
        <span class="input-group-btn">
            <input type="button" class="btn btn-primary" value="Hledat">
        </span>
    </span>
</form>