body {color: rgb(58, 61, 61);}
h1 {font-size: 2em; font-weight:300;}
h2 {font-size: 1.8em; font-weight:300; margin-bottom: 0.6em; margin-top: 1.6em;}
a {color: rgb(98, 93, 46);}
img {width: 100%; max-width: 240px; margin: 20px auto; display: block;}