{block content}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>POCH WA</h1>
        <h2>Palm Oil CHecker - Web Admin</h2>

        <p class="lead">Základní balík pro správu informací o obsahu palmového oleje v produktech podle čárových kódů</p>

    </div>
</div>