<form n:name="form">
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            {input email}
        </div>
        <div class="col-md-3">
            {input password}
        </div>
        <div class="col-md-2">
            {input save}
        </div>
    </div>
</form>