<form n:name="addUserForm" n:class="form-inline">
    <input n:name="email" n:class="form-control">
    <input n:name="password" n:class="form-control">
    <input n:name="save" n:class="btn, btn-primary">
</form>