<form n:name="form">
    <div class="row">
        <div class="col-md-3">
            {input email, class => 'form-control'}
        </div>
        <div class="col-md-3">
            {input password, class => 'form-control'}
        </div>
        <div class="col-md-3">
            {input role, class => 'form-control'}
        </div>
        <div class="col-md-3">
            {input save}
        </div>
    </div>
</form>