{block content}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1 n:block=title>Přihlášení se</h1>
        {control signInForm}

    </div>
</div>

{* or use {include '../components/form.latte', form => signInForm} *}
