<form n:name="form" class="form-inline">
    {label barcode/}
    {input barcode}

    {label safe/}
    <div class="btn-group" data-toggle="buttons">
        {foreach $form[safe]->items as $key => $label }
            <label n:name="safe:$key" n:class="btn, !!$key ? btn-success : btn-warning, $iterator->first ? active">
                <input n:name="safe:$key" {first}checked{/first}> {$label}
            </label>
        {/foreach}
    </div>
    {input save}
</form>